*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.HideAndSeek {
    text-align: center;
    --cell-size: 3.5em;
}

.HideAndSeek-options {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}